<section class="mt-8 max-w-2xl">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
            Comments ({{comments.all.count}})
        </h2>
        <h2 class="text-lg lg:text-2xl font-bold text-gray-700 dark:text-white">
            {{ post.view_count }} Views
        </h2>
    </div>
    {% if user.is_authenticated %}
    <form class="mb-6" method="POST">
        {% csrf_token %}
        <div
            class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
        >
            <label for="comment" class="sr-only">Your comment</label>
            <textarea
                id="comment"
                name="comment"
                rows="6"
                class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                placeholder="Write a comment..."
                required
            ></textarea>
        </div>
        <button
            type="submit"
            class="inline-flex items-center py-2.5 px-4 text-xs font-bold text-center text-white bg-gray-700 rounded-lg focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-900 hover:bg-gray-800"
        >
            Post comment
        </button>
    </form>
    {% else %}
    <p class="my-4">Please login to comment.</p>
    {% endif %} {% for comment in comments %}
    <article
        class="p-6 mb-4 text-base bg-gray-50 border rounded-lg dark:bg-gray-900"
    >
        <footer class="flex justify-between items-center mb-2">
            <div class="flex items-center">
                <p
                    class="inline-flex items-center mr-3 font-semibold text-sm text-gray-900 dark:text-white"
                >
                    <img
                        class="mr-2 w-6 h-6 rounded-full"
                        src="/media/{{comment.user.profile.image}}"
                        alt="Michael Gough"
                    />{{comment.user.profile}}
                </p>
                <p class="text-sm text-gray-600 dark:text-gray-400">
                    <time
                        pubdate
                        datetime="2022-02-08"
                        title="February 8th, 2022"
                        >{{comment.created_at}}</time
                    >
                </p>
            </div>
            {% if comment.user == user %}
            <button
                id="dropdownComment1Button"
                data-dropdown-toggle="dropdownComment1"
                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:text-gray-400 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                type="button"
            >
                <svg
                    class="w-4 h-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 16 3"
                >
                    <path
                        d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
                    />
                </svg>
                <span class="sr-only">Comment settings</span>
            </button>
            <!-- Dropdown menu -->
            <div
                id="dropdownComment1"
                class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
            >
                <ul
                    class="py-1 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownMenuIconHorizontalButton"
                >
                    <li>
                        <a
                            href="{% url 'comment_delete' comment.id %}"
                            class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >Delete Comment</a
                        >
                    </li>
                </ul>
            </div>
            {% endif %}
        </footer>
        <p>{{comment.body}}</p>
    </article>
    {% endfor %}
</section>
