{% extends 'user/_user_base.html' %}{% block user %}
<!---->
<section aria-labelledby="profile-overview-title">
    <div class="rounded-lg bg-white overflow-hidden shadow">
        <h2 class="sr-only" id="profile-overview-title">Profile Overview</h2>
        <div class="bg-white p-6">
            <div class="sm:flex sm:items-center sm:justify-between">
                <div class="sm:flex sm:space-x-5 items-center">
                    <div class="flex-shrink-0">
                        <img
                            class="mx-auto h-20 w-20 rounded-full"
                            src="/media/{{profile.image}}"
                            alt=""
                        />
                    </div>
                    <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
                        <p class="text-xl font-bold text-gray-900 sm:text-2xl">
                            {{profile}}
                        </p>
                        <p class="text-sm font-medium text-gray-600">
                            {{profile.user.email}}
                        </p>
                    </div>
                </div>
                {% if user.profile == profile %}
                <div class="mt-5 flex justify-center sm:mt-0">
                    <a
                        href="{% url 'my_profile_edit' %}"
                        class="flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
                    >
                        Edit Profile
                    </a>
                </div>
                {% else %}
                <div class="mt-5 flex justify-center sm:mt-0">
                    <a
                        href="#"
                        class="flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
                    >
                        Follow
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div
            class="border-t border-gray-200 bg-gray-50 grid grid-cols-1 divide-y divide-gray-200 sm:grid-cols-3 sm:divide-y-0 sm:divide-x"
        >
            <div class="px-6 py-5 text-sm font-medium text-center">
                <span class="text-gray-900">{{post_count}}</span>
                <span class="text-gray-600">Posts</span>
            </div>

            <div class="px-6 py-5 text-sm font-medium text-center">
                <span class="text-gray-900"
                    >{{profile.user.follower.all.count}}</span
                >
                <span class="text-gray-600">Followers</span>
            </div>

            <div class="px-6 py-5 text-sm font-medium text-center">
                <span class="text-gray-900"
                    >{{profile.user.following.all.count}}</span
                >
                <span class="text-gray-600">Following</span>
            </div>
        </div>
    </div>
</section>

<!---->
{% endblock %}
