{% extends '_base.html' %}{% block base %}
<!---->
<section class="w-full max-w-2xl mx-auto px-4 lg:px-8 py-16">
    <h2 class="text-5xl font-bold">About Wordweaver</h2>
</section>
<article class="w-full mb-6 max-w-2xl mx-auto px-4 lg:px-8 prose text-justify">
    <h2>Welcome to Wordweaver</h2>
    <p>
        Wordweaver is a community-driven multi-author blog where individuals
        from diverse backgrounds share their thoughts, experiences, and
        creativity with the world. We believe in the power of words to inspire,
        educate, and connect people.
    </p>

    <h2>Our Mission</h2>
    <p>
        Our mission is to provide a platform for writers, thinkers, and
        storytellers to express themselves freely while maintaining a respectful
        and inclusive environment for our readers. We value creativity,
        diversity, and the exchange of ideas.
    </p>

    <h2>Content Policy</h2>
    <p>
        At Wordweaver, we have a strict content policy that prohibits the use of
        offensive language and hate speech. Every article submitted by
        registered users goes through a review process by our team of
        administrators and moderators. We are committed to ensuring that the
        content on our platform is respectful and safe for all readers.
    </p>

    <h2>Get Involved</h2>
    <p>
        We welcome registered users to contribute by writing and publishing
        their articles on Wordweaver. If you are passionate about sharing your
        thoughts or stories, feel free to submit your work for review. You can
        also engage with our community by leaving comments on articles and
        participating in discussions.
    </p>

    <h2>Contact Us</h2>
    <p>
        If you have any questions or suggestions, please don't hesitate to
        <a href="mailto:contact@wordweaver.com">contact us</a>. We value your
        feedback and look forward to hearing from you.
    </p>
</article>
<!---->
{% endblock %}
