{% extends '_base.html' %}{% block base %}
<!---->
<section class="w-full max-w-2xl mx-auto px-4 lg:px-8 py-16">
    <h2 class="text-5xl font-bold">Privacy Policy</h2>
</section>
<article class="w-full mb-6 max-w-2xl mx-auto px-4 lg:px-8 prose text-justify">
    <h2>Welcome to Wordweaver</h2>
    <p>
        At Wordweaver Blog, we value your privacy and are committed to
        protecting your personal information. This Privacy Policy explains how
        we collect, use, and safeguard your data when you access and interact
        with our website.
    </p>

    <h2>Information We Collect</h2>
    <p>
        We may collect personal and non-personal information, including but not
        limited to your name, email address, IP address, and browser type, when
        you use our website. This information is used to enhance your experience
        and improve our services.
    </p>

    <h2>How We Use Your Information</h2>
    <p>
        We use your information to provide and improve our services, communicate
        with you, and ensure the security and integrity of our website. We do
        not share your personal information with third parties without your
        consent.
    </p>

    <h2>Security and Data Protection</h2>
    <p>
        We take security measures to protect your data from unauthorized access,
        alteration, disclosure, and destruction. While we strive to ensure the
        security of your information, please be aware that no method of
        transmission over the internet or electronic storage is completely
        secure.
    </p>

    <!-- Add more privacy-related information here as needed -->

    <h2>Contact Information</h2>
    <p>
        If you have questions or concerns regarding our Privacy Policy, please
        contact us at
        <a href="mailto:privacy@wordweaver.com">privacy@wordweaver.com</a>.
    </p>
</article>
<!---->
{% endblock %}
