{% extends 'user/_user_base.html' %}{% block user %}
<!---->
<section class="">
    <div class="flex justify-between items-end">
        <div>
            <h1 class="text-4xl font-bold">My Bookmarks</h1>
            <p class="mt-2 text-gray-500">All posts you have bookmarked</p>
        </div>
        <div class="flex flex-col justify-end items-end gap-4">
            <a
                href="{% url 'my_post_create' %}"
                class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"
            >
                Create Post
            </a>
        </div>
    </div>
    <div></div>
</section>
<section class="mt-6 flex flex-col gap-4">
    {% if posts|length == 0 %}
    <p class="text-sm">No {{request.GET.status}} post found.</p>
    {% endif %} {% for post in posts %}
    <a href="{% url 'post_detail' post.slug %}">
        <article
            class="flex bg-white transition hover:shadow-xl rounded-lg border overflow-hidden"
        >
            <div class="hidden sm:block sm:basis-56">
                <img
                    alt="Guitar"
                    src="/media/{{post.image}}"
                    class="aspect-square h-full w-full object-cover"
                />
            </div>

            <div class="flex flex-1 flex-col justify-between">
                <div
                    class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6"
                >
                    <h3
                        class="font-bold uppercase text-gray-900 flex items-center"
                    >
                        {{post.title}}
                        <span
                            class="ml-3 capitalize {% if post.status == 'Draft' %}bg-yellow-100 text-yellow-800{% elif post.status == 'Published' %}bg-green-100 text-green-700{% else %}bg-red-100 text-red-700{% endif %} text-xs px-3 py-1 rounded border font-bold"
                            >{{post.status}}</span
                        >
                    </h3>

                    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
                        {{post.excerpt}}
                    </p>
                    <button
                        class="mt-4 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"
                    >
                        Edit Post
                    </button>
                </div>
            </div>
        </article>
    </a>
    {% endfor %}
</section>
<!---->
{% endblock %}
